<table mat-table [dataSource]="consentsList">
  <mat-text-column name="name"></mat-text-column>
  <mat-text-column name="email"></mat-text-column>
  <ng-container matColumnDef="consent">
    <th mat-header-cell *matHeaderCellDef>Consent given for</th>
    <td mat-cell *matCellDef="let consent">
      {{ consent.receiveNewsletter ? 'Receive newsletter ;' : '' }}
      {{ consent.targetedAds ? 'Be shown targeted ads ;' : '' }}
      {{ consent.visitStatistics ? 'Contribute to anonymous visit statistics ;' : '' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let consentsList; columns: columnsToDisplay"></tr>
</table>

<mat-paginator [pageSize]="2"></mat-paginator>
