<form class="p-text-center" [formGroup]="consentForm" (ngSubmit)="onSubmitConsentForm()">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>

      <input
        matInput
        type="text"
        [formControl]="name"
        minlength="3" />
    </mat-form-field>

    <mat-form-field class="p-ml-2">
      <mat-label>Email address</mat-label>

      <input
        matInput
        type="email"
        [formControl]="email" />
    </mat-form-field>
  </div>

  <fieldset>
    <legend>I agree to</legend>

    <ul class="p-text-left">
      <li><mat-checkbox
        [formControl]="receiveNewsletter">
        Receive newsletter
      </mat-checkbox></li>

      <li><mat-checkbox
        [formControl]="targetedAds">
        Be shown targeted ads
      </mat-checkbox></li>

      <li><mat-checkbox
        [formControl]="visitStatistics">
        Contribute to anonymous visit statistics
      </mat-checkbox></li>
    </ul>
  </fieldset>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!consentForm.valid"
    class="p-mt-3">
    Give consent
  </button>
</form>
