<main class="p-grid p-m-0">
  <nav class="p-col-fixed p-p-0">
    <app-consents-menu></app-consents-menu>
  </nav>

  <section class="p-col p-p-5">
    <router-outlet></router-outlet>
  </section>
</main>
