<ul class="p-my-0 p-py-3">
  <li>
    <a
      routerLink="give-consent"
      routerLinkActive="mat-primary"
      mat-raised-button
      color="link">
      Give consent
    </a>
  </li>

  <li class="p-mt-2">
    <a
      routerLink="consents"
      routerLinkActive="mat-primary"
      mat-raised-button
      color="link">
      Collected consents
    </a>
  </li>
</ul>
